node_modules
.git
.gitignore
.env
.env.example
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/app/public
storage/app/private
storage/app/surat
vendor
.qwen
.claude
.vscode